.col1 {
    border: 1px solid lightgray;
    fill: black;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    background-color: lightgray;
}

.col2 {
    border: 1px solid lightgray;
    fill: black;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    background-color: lightgray;
}