.time-period-navbar{
  margin-top: 10vw;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  .left-button-1,.left-button-2, .right-button-1, .right-button-2{
    width: 5vw;
    height: 5vw;
  }
  .selected-period{
    width:28vw;
    height: 5vw;
    font-size: 3.1vw;
    font-family: STZhongsong, serif;
    font-weight: 400;
    line-height: 23.85px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  *{
    background-color: #DFE2F9;
    border-radius: 1.5vw;
  }
}