.current-situation-page {
    width: 100%;
    background-color: #F4F5FF;
    height: 120%;
}

.gender-icon {
    width: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    font-size: 25px;
}

body {
    background-color: #F4F5FF;
}